html, body {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

header, menu, aside {
	position: relative;
	z-index: 4;
}

aside {
	background: #FFF;
}

menu {
	position: absolute;
	top: 10%;
	right: 0;
	width: 15%;
	background: #FFF;
}

a[disabled] {
	opacity: 0.5;
}

section {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 4;
}

aside[data-toggle] {
	position: absolute;
	width: 100%;
	height: 100%;
	right: -100%;
	transition: right 0.6s ease-in;
    -ms-transition: right 0.6s ease-in;
    -moz-transition: right 0.6s ease-in;
    -webkit-transition: right 0.6s ease-in;
}

aside[data-toggle].active {
	right: 0;
	transition: right 0.6s ease-in;
    -ms-transition: right 0.6s ease-in;
    -moz-transition: right 0.6s ease-in;
    -webkit-transition: right 0.6s ease-in;
}

.daytime {
	background: rgba(255, 255, 255, 0);
}
.nighttime {
	background: rgba(0, 0, 0, 0.6);
}

#log {
	overflow-y: scroll;
	height: 60px;
	background: #FFF;
}
#log div {
	height: auto;
}

#health-container {
	width: 25%;
	height: 6px;
	padding: 2px;
	border-radius: 6px;
	box-shadow: inset 2px 2px 4px rgba(0,0,0,0.3);
	background: #FFF;
}
#health {
	width: 100%;
	height: 6px;
	background: #000;
	border-radius: 6px;
	transition: width 1.4s ease-in;
    -ms-transition: width 1.4s ease-in;
    -moz-transition: width 1.4s ease-in;
    -webkit-transition: width 1.4s ease-in;
}
#health.tired {
	background-color: yellow;
}
#health.sick {
	background-color: red;
}

#location {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
#location.home {
	background: url('img/locations/home.jpg') no-repeat;
}
#location.alley {
	background: url('img/locations/alley.jpg') no-repeat;
}
#location.garden {
	background: url('img/locations/garden.jpg') no-repeat;
}
#location.terrasse {
	background: url('img/locations/terrasse.jpg') no-repeat;
}

.cat {
	width: 50%;
	height: 100%;
	position: absolute;
	right: -100%;
	bottom: 0;
	z-index: 1;
	background-position: right bottom;
	background-repeat: no-repeat;
	opacity: 0;
	transition: right 0.6s ease-in;
    -ms-transition: right 0.6s ease-in;
    -moz-transition: right 0.6s ease-in;
    -webkit-transition: right 0.6s ease-in;
}
.cat.fatcat {
	background-image: url('img/cats/fatcat.jpg');
	right: 0;
	opacity: 1;
	transition: right 0.6s ease-in;
    -ms-transition: right 0.6s ease-in;
    -moz-transition: right 0.6s ease-in;
    -webkit-transition: right 0.6s ease-in;
}
.cat.cutecat {
	background-image: url('img/cats/cutecat.jpg');
	right: 0;
	opacity: 1;
	transition: right 0.6s ease-in;
    -ms-transition: right 0.6s ease-in;
    -moz-transition: right 0.6s ease-in;
    -webkit-transition: right 0.6s ease-in;
}
.cat.evilcat {
	background-image: url('img/cats/evilcat.jpg');
	right: 0;
	opacity: 1;
	transition: right 0.6s ease-in;
    -ms-transition: right 0.6s ease-in;
    -moz-transition: right 0.6s ease-in;
    -webkit-transition: right 0.6s ease-in;
}
.cat.shycat {
	background-image: url('img/cats/shycat.jpg');
	right: 0;
	opacity: 1;
	transition: right 0.6s ease-in;
    -ms-transition: right 0.6s ease-in;
    -moz-transition: right 0.6s ease-in;
    -webkit-transition: right 0.6s ease-in;
}
.cat a {
	position: absolute;
	right: 25%;
	top: 70%;
}

.dialog {
	position: absolute;
	top: 20%;
	left: 20%;
	width: 20%;
	background: #FFF;
	display: none;
	z-index: 4;
	padding: 14px;
	-webkit-animation: bounce 1.5s infinite ease-in-out;
}
.dialog.right {
	left: auto;
	right: 20%;
}
.dialog [data-action='accept'] {
	display: none;
}

.pause {
	width: 40px;
	height: 40px;
	background: #000 url("img/menu/icon-pause.png") center center no-repeat;
	opacity: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 40px;
	z-index: 5;
	-webkit-transition: all 300ms cubic-bezier(0.810, 0, 0.170, 1); /* older webkit */
	-webkit-transition: all 300ms cubic-bezier(0.810, -0.045, 0.170, 1.050); 
	   -moz-transition: all 300ms cubic-bezier(0.810, -0.045, 0.170, 1.050); 
	     -o-transition: all 300ms cubic-bezier(0.810, -0.045, 0.170, 1.050); 
	        transition: all 300ms cubic-bezier(0.810, -0.045, 0.170, 1.050); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.810, 0, 0.170, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.810, -0.045, 0.170, 1.050); 
	   -moz-transition-timing-function: cubic-bezier(0.810, -0.045, 0.170, 1.050); 
	     -o-transition-timing-function: cubic-bezier(0.810, -0.045, 0.170, 1.050); 
	        transition-timing-function: cubic-bezier(0.810, -0.045, 0.170, 1.050); /* custom */
}
.pause.active {
	opacity: 0.4;
	-webkit-transition: all 300ms cubic-bezier(0.810, 0, 0.170, 1); /* older webkit */
	-webkit-transition: all 300ms cubic-bezier(0.810, -0.045, 0.170, 1.050); 
	   -moz-transition: all 300ms cubic-bezier(0.810, -0.045, 0.170, 1.050); 
	     -o-transition: all 300ms cubic-bezier(0.810, -0.045, 0.170, 1.050); 
	        transition: all 300ms cubic-bezier(0.810, -0.045, 0.170, 1.050); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.810, 0, 0.170, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.810, -0.045, 0.170, 1.050); 
	   -moz-transition-timing-function: cubic-bezier(0.810, -0.045, 0.170, 1.050); 
	     -o-transition-timing-function: cubic-bezier(0.810, -0.045, 0.170, 1.050); 
	        transition-timing-function: cubic-bezier(0.810, -0.045, 0.170, 1.050); /* custom */
}

#heart{
     position: absolute;
     bottom: 20%;
     right: 25%;
     z-index: 4; 
     width: 100px; 
     height: 90px;
     margin-top:10px;
     display: none;
}
#heart:before, #heart:after{
    position: absolute; 
    content: ""; 
    left: 54px; 
    top: 0; 
    width: 52px;
    height: 80px; 
    background: #000;
    border-radius: 50px 50px 0 0;
    -webkit-animation: pulse 1.5s infinite ease-in-out;
}
#heart.ok:before, #heart.ok:after {
	background: #2200FF;
}
#heart.like:before, #heart.like:after {
	background: #9000FF;
}
#heart.love:before, #heart.love:after {
	background: #FF0084;
}
#heart:before{
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg); 
        -ms-transform: rotate(-45deg); 
         -o-transform: rotate(-45deg); 
            transform: rotate(-45deg); 
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%; 
        -ms-transform-origin: 0 100%; 
         -o-transform-origin: 0 100%; 
            transform-origin: 0 100%;
}
#heart:after { 
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg); 
        -ms-transform: rotate(45deg); 
         -o-transform: rotate(45deg); 
            transform: rotate(45deg); 
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%; 
        -ms-transform-origin: 100% 100%; 
         -o-transform-origin: 100% 100%; 
            transform-origin: 100% 100%; 
}

@-webkit-keyframes pulse {
	0% {
		width: 52px;
		height: 80px;
	}
	50% {
		width: 56px;
		height: 84px;
	}
	100% {
		width: 52px;
		height: 80px;
	}
}
@-webkit-keyframes bounce {
	0% {
		margin-top: 0px;
	}
	50% {
		margin-top: 4px;
	}
	100% {
		margin-top: 0px;
	}
}
