/**
 * CAT DATING SIMULATOR
 *
 * @author Claudine Lamothe {apricat@gmail.com}
 */

$locations : "home", "garden", "alley", "terrasse";
$cats      : "fatcat", "cutecat", "evilcat";

@mixin easing-transition($property, $duration, $easing) {
	        transition: $property $duration $easing;
        -ms-transition: $property $duration $easing;
       -moz-transition: $property $duration $easing;
    -webkit-transition: $property $duration $easing;
}

@font-face {
    font-family: 'wendyregular';
    src: url('font/wendy-webfont.eot');
    src: url('font/wendy-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/wendy-webfont.woff') format('woff'),
         url('font/wendy-webfont.ttf') format('truetype'),
         url('font/wendy-webfont.svg#wendyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'wendyregular', arial;
	font-size: 22px;
	min-height: 450px;
}

body {
	@extend html;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		padding: 0;
		margin: 0;
		list-style: none;
	}

}

header {
	position: relative;
	z-index: 4;
	padding-top: 10px;
}

menu {
	@extend header;
	position: absolute;
	right: 0;
	width: 15%;
	background: #FFF;
}

a[disabled] {
	opacity: 0.5;
}

section {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 4;
}

aside {
	@extend header;
}

aside[data-toggle] {
	position: absolute;
	width: 100%;
	right: -100%;
	min-height: 400px;
	background: #FFF;
	@include easing-transition(right, 0.6s, ease-in);
}

aside[data-toggle].active {
	right: 0;
	@include easing-transition(right, 0.6s, ease-in);
}

aside[data-data="inventory"] {
	width: 15%;
	position: absolute;
	right: 5%;
	bottom: 0;
	height: auto;
}

a[data-action='sleep'] {
	display: none;
}
a[data-action='sleep'].active {
	display: block;
}

.daytime {
	background: url("img/locations/day.svg") repeat-x bottom left;
}
.nighttime {
	background: url("img/locations/night.png") repeat-x bottom left;
}

.blackout {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	background: #000;
	width: 100%;
	height: 100%;
	z-index: 10;
}


/**
 * LOG
 */

#log {
	overflow-y: scroll;
	height: 100px;
	position: fixed;
	bottom: 0;
	
	div {
		height: auto;
		background: #FFF;
		margin: 10px;
		bottom: 0;
		position: fixed;
		padding: 2px 4px;
		border-radius: 4px;
	}
}


/**
 * HEALTH
 */
#health-container {
	width: 25%;
	height: 6px;
	padding: 6px 6px 10px;
	//box-shadow: 0px 10px 0 rgba(0,0,0,0.4);
	border: 6px solid rgba(0,0,0,0.8);
	background: #FFF;
	display: inline-block;
	margin: 0 10px;

	.health {
		width: 100%;
		height: 10px;
	    background: #b7deed;
	}
	.health.tired {
		background: #fceabb; /* Old browsers */
	}
	.health.sick {
		background: #a90329; /* Old browsers */
	}
}


/**
 * LOCATIONS
 */

#location {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	background-repeat: repeat-x;
	background-position: bottom left;
}

@each $location in $locations {
  #location.#{$location} {
    background-image: url('img/locations/#{$location}.png');
  }
}


/**
 * CATS
 */

.cat {
	width: 50%;
	height: 100%;
	position: absolute;
	right: -100%;
	bottom: 0;
	z-index: 1;
	background-position: right bottom;
	background-repeat: no-repeat;
	opacity: 0;
	@include easing-transition(right, 0.6s, ease-in);

	a[data-action='pet'] {
		position: absolute;
		right: 70%;
		bottom: 30%;
	}
}

@each $cat in $cats {
  #cat.#{$cat} {
    background-image: url('img/cats/#{$cat}.svg');
	right: 0;
	opacity: 1;
	@include easing-transition(right, 0.6s, ease-in);
  }
}


/**
 * PLAYER
 */

.player {
	width: 50%;
	height: 450px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	background-position: left top;
	background-repeat: no-repeat;
	@include easing-transition(all, 0.6s, ease-in);
}
.player.player-1 {
	background-image: url("img/player/player-1.png");
}
.player.faint {
	bottom: -100%;
}
.player.leaving {
	left: -100%;
}


/**
 * DIALOG
 */

.dialog {
	position: absolute;
	top: 20%;
	right: 10%;
	width: 30%;
	background: #FFF;
	display: none;
	z-index: 4;
	padding: 14px;
	-webkit-animation: bounce 1.5s infinite ease-in-out;

	[data-action='accept'] {
		display: none;
	}

}
.dialog.right {
	right: auto;
	left: 10%;
}


/**
 * CONTROLS
 */

.pause {
	width: 40px;
	height: 40px;
	background: #000 url("img/menu/icon-pause.png") center center no-repeat;
	opacity: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 40px;
	z-index: 5;
	@include easing-transition(all, 300ms, cubic-bezier(0.810, 0, 0.170, 1));

	-webkit-transition-timing-function: cubic-bezier(0.810, 0, 0.170, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.810, -0.045, 0.170, 1.050); 
	   -moz-transition-timing-function: cubic-bezier(0.810, -0.045, 0.170, 1.050); 
	     -o-transition-timing-function: cubic-bezier(0.810, -0.045, 0.170, 1.050); 
	        transition-timing-function: cubic-bezier(0.810, -0.045, 0.170, 1.050); /* custom */
}
.pause.active {
	opacity: 0.4;
	@include easing-transition(all, 300ms, cubic-bezier(0.810, 0, 0.170, 1));

	-webkit-transition-timing-function: cubic-bezier(0.810, 0, 0.170, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.810, -0.045, 0.170, 1.050); 
	   -moz-transition-timing-function: cubic-bezier(0.810, -0.045, 0.170, 1.050); 
	     -o-transition-timing-function: cubic-bezier(0.810, -0.045, 0.170, 1.050); 
	        transition-timing-function: cubic-bezier(0.810, -0.045, 0.170, 1.050); /* custom */
}


/**
 * @TODO: change heart to png
 */
#heart{
     position: absolute;
     bottom: 5%;
     right: 20%;
     z-index: 4; 
     width: 100px; 
     height: 90px;
     margin-top:10px;
     display: none;
}
#heart:before, 
#heart:after{
    position: absolute; 
    content: ""; 
    left: 54px; 
    top: 0; 
    width: 52px;
    height: 80px; 
    background: #000;
    border-radius: 50px 50px 0 0;
}
#heart.ok:before, 
#heart.ok:after {
	background: #2200FF;
}
#heart.like:before, 
#heart.like:after {
	background: #9000FF;
}
#heart.love:before, 
#heart.love:after {
	background: #FF0084;
}
#heart:before{
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg); 
        -ms-transform: rotate(-45deg); 
         -o-transform: rotate(-45deg); 
            transform: rotate(-45deg); 
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%; 
        -ms-transform-origin: 0 100%; 
         -o-transform-origin: 0 100%; 
            transform-origin: 0 100%;
}
#heart:after { 
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg); 
        -ms-transform: rotate(45deg); 
         -o-transform: rotate(45deg); 
            transform: rotate(45deg); 
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%; 
        -ms-transform-origin: 100% 100%; 
         -o-transform-origin: 100% 100%; 
            transform-origin: 100% 100%; 
}
@-webkit-keyframes bounce {
	0% {
		margin-top: 0px;
	}
	50% {
		margin-top: 4px;
	}
	100% {
		margin-top: 0px;
	}
}


