html, body {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

header, menu, aside {
	position: relative;
	z-index: 4;
}

menu {
	position: absolute;
	top: 10%;
	right: 0;
	width: 15%;
	background: #FFF;
}

section {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#health-container {
	width: 50%;
	height: 10px;
}
#health {
	width: 100%;
	height: 4px;
	background: #000;
}

#location {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
#location.home {
	background: url('img/locations/home.jpg') no-repeat;
}
#location.alley {
	background: url('img/locations/alley.jpg') no-repeat;
}
#location.garden {
	background: url('img/locations/garden.jpg') no-repeat;
}
#location.terrasse {
	background: url('img/locations/terrasse.jpg') no-repeat;
}

#cat {
	width: 50%;
	height: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
	background-position: right bottom;
	background-repeat: no-repeat;
}
#cat.fatcat {
	background-image: url('img/cats/fatcat.jpg');
}
#cat.cutecat {
	background-image: url('img/cats/cutecat.jpg');
}
#cat.evilcat {
	background-image: url('img/cats/evilcat.jpg');
}
#cat.shycat {
	background-image: url('img/cats/shycat.jpg');
}